<ion-header>
</ion-header>

<ion-content class="background">
  <ion-card-header>
    <ion-card-title color="light">Patient</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-row>
              <ion-label class="title">Patient ID</ion-label>
          </ion-row>
          <ion-row>
              <ion-label class="info">{{loadedPatient.id}}</ion-label>
          </ion-row>
          <ion-row>
              <ion-label class="title">Name</ion-label>
          </ion-row>
          <ion-row>
              <ion-label class="info">{{loadedPatient.patientName}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="title">Age</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="info">{{loadedPatient.age}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="title">Gender</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="info">{{loadedPatient.gender}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="title">Address Line 1</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="info">{{loadedPatient.addr1}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="title">Address Line 2</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="info">{{loadedPatient.addr2}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="title">City</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="info">{{loadedPatient.city}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="title">Province</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="info">{{loadedPatient.province}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="title">Postal Code</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="info">{{loadedPatient.postcode}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="title">Phone</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="info">{{loadedPatient.mobNumb}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="title">Email</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="info">{{loadedPatient.email}}</ion-label>
          </ion-row>
        </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-content>

